<div class="container">

  <!-- 网站简介 -->

  <div class="about-title-box">
    <span class="about-title-e">季   风 。</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>

  <p class="about-info">
    季风是一个全球性网上商城 <br>
    主要售卖有趣的生活用品 <br><br>
    这里有你可能没见过的黑科技小物件 <br>
    脑洞大开的设计品 <br>
    当然也包含D&w这类精美的物件 <br>
    在这些商品中<br>你能真切感受到科技和艺术真的已经完美的融入生活<br>
    而我们的愿景是:希望这些物品能给你的生活多加一分有趣<br>

  </p>
  <hr>

  <!-- 网站设计者 -->
  <div class="row">
  <div class="col-md-12 about-info about-img ">
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("http://ww3.sinaimg.cn/large/006tNbRwgy1fg0367w43mj304g04g3yc.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>LLL96（胡颖）</h5>
        <p><strong>微信：ying96z</trong></p>
        <p>
           编程路上新手<br>
          健身爱好者   喜欢咖啡和泡各种茶   <br>
          微悲观和乐观主义的融合 <br>
          欣赏江湖义气   话痨爱交朋友 <br>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("http://ww3.sinaimg.cn/large/006tNbRwgy1ffxox6ub8tj31kw1ektgz.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>柯子(刘铮)</h5>
        <p><strong>微信：kezii</strong></p>
        <p>
          行销+视觉+编程 全栈选手 <br>
          线上德州扑克玩家 爱好各种博弈游戏 <br>
          行动力者 希望每天都成为比昨天更好的自己 <br>
          愿和你一起不断去创造不平凡 <br>
        </p>
      </div>
    </div>
  </div>
</div>
