<div class="container">

  <!-- 网站简介 -->

  <div class="about-title-box">
    <span class="about-title-e">季   风 。</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>

  <p class="about-info">
    季风是一个全球性网上商城 <br>
    主要售卖有趣的生活用品 <br><br>
    这里有你可能没见过的黑科技小物件 <br>
    脑洞大开的设计品 <br>
    当然也包含D&w这类精美的物件 <br>
    在这些商品中<br>你能真切感受到科技和艺术真的已经完美的融入生活<br>
    而我们的愿景是:希望这些物品能给你的生活多加一分有趣<br>

  </p>
  <hr>

  <!-- 网站设计者 -->
  <div class="row">
  <div class="col-md-12 about-info about-img ">
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("http://ww1.sinaimg.cn/large/006tNbRwly1fg1w3pa0fqj30pm0t0js9.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5><a href="http://lll96-blog.logdown.com/" target="_blank">LLL96（胡颖）</a></h5>
        <p><strong>微信：ying96z</trong></p>
        <p>
          编程路上新手。<br>
          喜欢咖啡和泡各种茶、健身爱好者。 <br>
          喜欢好玩的新鲜事。<br>
          欣赏江湖义气、话痨爱交朋友。<br>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("http://ww1.sinaimg.cn/large/006tNbRwly1fg1w0lp12kj30mi0mjgmd.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5><a href="http://kerzzi.logdown.com/" target="_blank">柯子(刘铮)</a></h5>
        <p><strong>微信：zhulanwa</strong></p>
        <p>
          爱好编程的辐射防护工程师。 <br>
          喜欢读书、思考。爱游戏、爱生活。<br>
          专注个人成长、努力活在未来。<br>
          欢迎和我一起探索这个世界！<br>
        </p>
      </div>
    </div>
  </div>
</div>
