<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading" align="center"><h1>后台管理指南</h1></div>

  <div class="panel-body">
    <div align="center">
      <img width="980px" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fg1kcuh6o9j318g0p0qbf.jpg">
    </div>
    <hr/ width="25%">
    <div style="margin:0px 65px 0px 65px;">
      <p>管理员大人，吉祥！</p>
      <p>我是简洁清爽的后台~\(≧▽≦)/~啦啦啦！</p>
      <p>这是一份后台管理指南，有3点要求需要您遵守。</p>
      <p>第1条：严格遵守后台管理指南！</p>
      <p>第2条：请严格遵守第1条要求！</p>
      <p>第3条：请参照第2条执行！</p>
    </div>
  </div>

  <!-- List group -->
  <ul class="list-group" style="margin:0px 65px 0px 65px;">
    <li class="list-group-item" >分类管理：商品建立之前必须建立商品分类，目前支持2级分类！</li>
    <li class="list-group-item">商品管理：商品必须至少上传5张图片！我们喜欢高清无码大图，你懂得！</li>
    <li class="list-group-item">订单管理：这个很简单的~\(≧▽≦)/~啦啦啦！</li>
    <li class="list-group-item">竞拍管理：OMG，这可是我们的主打功能，可恶的开发小哥到现在还没做出来！</li>
    <li class="list-group-item">返回前台：哎呦！不要去找前台嘛！</li>
    <li class="list-group-item">退出：后台管理完成记得退出哦！</li>
  </ul>
</div>
