<div class="carousel bg-color1"></div>

<div class="orderList bg-color1">
  <div class="orderList-item bg-color2"></div>
  <div class="orderList-item bg-color3"></div>
  <div class="orderList-item bg-color4"></div>
  <div class="orderList-item bg-color5"></div>
</div>

<div class="productList">
  <div class="productList-item bg-color1"></div>
  <div class="productList-item bg-color2"></div>
  <div class="productList-item bg-color3"></div>
  <div class="productList-item bg-color4"></div>
  <div class="productList-item bg-color5 productList-lastItem"></div>
  <div class="productList-item bg-color1"></div>
  <div class="productList-item bg-color2"></div>
  <div class="productList-item bg-color3"></div>
  <div class="productList-item bg-color4"></div>
  <div class="productList-item bg-color5 productList-lastItem"></div>
</div>
