// 关于我们页面样式

// 标题样式
.about-title-box {
  margin-top: 5px;
  margin-bottom: 0px;
  background: #CFD8DC;

}
.about-title-e {
  font-weight: lighter;
  font-size: 2.3em;
}
.about-title-c {
  font-weight: lighter;
  font-size: 2.5em;
  letter-spacing: 0.16em;
  margin: 2px auto 50px;
}

// 信息样式
.about-info {
  font-size: 1.1em;
  letter-spacing: 0.2em;
  font-weight:normal;
  line-height: 2em;
}
.about-img {
  height: 20em;
  margin-top: 50px;
  margin-bottom: 0px;
}
