@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/****** 图片上传样式 ******/
input[type="file"] {
  &.image-input {
    display: inline-block;
    border: 1px solid #ccc;

    padding: 5px 20px;
    border-radius: 4px
  }
}
