/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "social-share-button";
@import url(http://fonts.googleapis.com/css?family=Roboto);
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效


 // 界面基础设置
html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

body {

    background: #EBEBEB;
    // background-image: url(https://ww1.sinaimg.cn/large/006tKfTcgy1fg7w2lnv7lj30ud0g8mxo.jpg);
    font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
    color: #666;                                        // 修改全站的 字体主色
    // font-size: 1.2em;                                   // 网站所有字体缩小比例
    .breadcrumb{
    background: #fff;
    height: 50px;
    li{
      padding-top: 7px;
    }

    }
   a {                                                 // 所有a标签统一样式
     color: #666;                                      // 链接反转的样式
     transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
   }
   a:hover {
     color: #7f8c8d;
     transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
     text-decoration: none;                            // 移除下划线
   }
 }

#id_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    // position: relative;
}

#id_header {
    /* 設定header的高度 */
    height: 40px;
    box-sizing: border-box;
}

#id_content {
    /* 留出header及footer區塊的空間 */
    padding-top: 25px;
    // padding-bottom: 60px;
}

#id_footer {
    /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    // position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}


/*===== navbar ====*/

/* common navbar */

.navbar-default {

  margin-bottom: 0;
  border-radius: 0;
  background: #000;


    // background: rgba(0,0,0,0.3);
    color: #000 !important;
    font-size: 1.2em;

    a:focus {
      color: #eb5424 !important;
    }
    &.show_bgcolor {
      background-color: #02061A;
    }

    .navbar-header {
      a {
        font-size: 20px;
        color: #fff;
        transition: 0.35s;
      }
      a:hover {
        color: #D0CFCE;
      }
    }
    .navbar-nav li a {
      color: #fff;
      font-size: 16px;
      transition: 0.35s;
    }
    .navbar-nav li a:hover {
      color: #D0CFCE;
      text-decoration: none
    }

    .navbar-nav .dropdown-menu {
      padding-bottom: 0;
      padding-top: 0;
      a {
        text-align: center;
        color: #000;
      }
      li.divider:last-child {
        display: none;
      }
    }
    .login {
      border: 1px solid #fff;
      margin-top: 12px;
      padding: 3px 17px 3px 17px;
      margin-right: 130px;
      border-radius: 15px;
    }
    .search-nav{
      width: 280px;
    }

 }

 .navbar-brand {
   letter-spacing: 0.1em;       //拉开一点点字间距
   font-weight:lighter;         //字体粗细比默认样式缩小100磅值，让logo显得精致高级
 }
/*===== end of navbar ====*/

//---- footer ------

.footer{
    text-align: center;
    min-height: 50px;
    background-color:  #000;
    // margin-bottom: -50px;
    padding: 20px 0;
    color: #fff;
    p{
      font-size: 14px;
      a{
        // color: #4A6BB5;
        text-decoration:none;
        color: #fff;
      }
      a:hover{
        color: #35CCC6;
      }
      a:focus{
        color: #4A6BB5;
      }
    }
}

/*===== end of footer ====*/



/* LOGIN MODAL（弹窗登录效果）*/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

/****** 完成弹窗登录效果 ******/

.msrp {
  text-decoration: line-through;
}



/*----- 服务页面 ----*/

// 中间区域介绍内容样式
  .help-page-mid {                                   //给图片整好形
    height: 534px;
    background-size: cover;                             //确保图片完全撑开
    margin-top: -15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(http://ww4.sinaimg.cn/large/006tNbRwgy1ffzzmaueitj31kw18s7wk.jpg);
  }
  .help-page-mid .tagline {                          //编写标题样式
    text-align: center;
    color: #7f8c8d;
    letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
    font-size: 1.6em;
    margin-top: 3.2em;
  }
  .help-page-mid .tagp {                             //编写内容样式
    text-align: center;
    color: #666;
    font-size: 1.2em;
    margin-top: 2.5em;
    line-height: 2.5em;                                 //行间距也要拉开大一些
    letter-spacing: 0.18em;                             //把字间距撑开，视觉感更优雅
  }

/* 服务页面 question部分 */

#question {
  background-color: #EFEBE9;
  margin-bottom: 45px;
  margin-top:-20px;
  color: none;
  font-family: 300;

  .col-md-3 {
    padding: 30px;
    border-right: 10px solid #aaa;
    height: 250px;
  }
  .col-md-3:last-child {
    border: none;
  }
  .sub-question {
    margin-bottom: 10px;
    //color: rgba(0, 0, 0, 0.4);
  }
  .answer {
    //color: rgba(0, 0, 0, 0.4);
  }
}
