<div class="header_placeholder h80"></div>

<%= render :partial => "common/menu" %>
  <div class="minHeight1000 bg-gray">
    <%= render 'common/products' %>
  </div>
</div>
<%= will_paginate @products %>
