<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by yourname

    </p>
</footer> -->

<div class="footer">
    <div class="container-1">
	<p>关于我们 <span>|</span> 帮助中心 <span>|</span> 商业合作 <span>|</span> 投资我们 <span>|</span> 售后服务 <span>|</span> 网站合作 <span>|</span> 友情链接</p>
	<p>
    <span class="logo-text">Copyright ©2017 SEEYOO.</span>
    <span class="icp-center">设计师： 柯子 & 胡颖LLL96</span>
	</p>
</div>
</div>
