<footer class="footer">
	<p><a href="<%= static_pages_help_path %>" target="_blank">关于我们 </a> <span>|
  </span> <a href="<%= static_pages_help_path %>" target="_blank">服务中心</a> <span>|
  </span> <a href="http://kerzzi.logdown.com/posts/1903205-magic-change-contest-entries-monsoon" target="_blank">功能展示</a> <span>|
  </span> <a href="http://kerzzi.logdown.com/posts/1890176" target="_blank">制作教程</a> <span>|
  </span> <a href="http://kerzzi.logdown.com/posts/1903205-magic-change-contest-entries-monsoon" target="_blank">联系我们</a> <span>|
  </span> <a href="https://fullstack.xinshengdaxue.com/works/604" target="_blank">支持我们</a> <span></p>
	<p>
    <span class="logo-text">Copyright ©2017 Monsoon</span>
    <span class="icp-center">Designed By <a href="http://kerzzi.logdown.com/" target="_blank">Kerzzi</a> & <a href="http://lll96-blog.logdown.com/" target="_blank">胡颖</a> </span>
	</p>
</footer>
